
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* { margin: 0; padding: 0;}
.mySlides {display: none}

img {
vertical-align: middle;
border-radius: 10px;}


body::-webkit-scrollbar{
  width: 1.5vh;}

body::-webkit-scrollbar-track{
background-color: #ffff;
}

body::-webkit-scrollbar-thumb{
  background-color: #79d3f6df;
  border-radius: 8vh;
}

body{
    margin: 0;
    padding: 0;
    height: 100px;
}

/*EstilizaçÕes globais do site*/

/*Header*/
.header{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
  }
  
  .header .container {
      position: relative;
      z-index: 1;
      width: 100%;
      padding: 10px 10px;
      display: flex;
      justify-content: space-between;
      
  }
  
  .container .logo img {
    width: 90px;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
  }
  
   .container .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 3%;
    border-radius: 5px;
  }
  
  .navbar a{
  text-decoration: none;
  color: #ffff;
  }
  
  
  .navbar ul {
    display: flex;
    width: 700px;
    justify-content: space-evenly;
    list-style: none;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
  }

  .navbar ul li {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }
  
  .navbar li :hover{
    color: #f47b2a;
  }
  
  /*BANNER*/

  .banner {
    display: flex;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  
  .banner video{
      position: fixed;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
  }

  .banner .container{
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: center;
    align-items:center;
    background-color: #79d3f67a;
    border-radius: 30px;
    width: 80%;
    height: 70%;
  }

  
/*PÁGINA INDEX */
.info-Home h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 5%;
}

.info-Home p :hover{
color: #f47b2a;
}

.info-Home p{
  text-align: justify;
}

/*CARROUSSE*/

.container-Slider .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: -38px;
    width: 500px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -11px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #f47b2a;
}

.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  bottom: -54px;
  width: 100%;
  text-align: center;
  font-family:'Poppins', sans-serif ;  
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(177, 163, 163, 0.615);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 3;
}

.active, .dot:hover {
  background-color: rgba(255, 255, 255, 0.571)
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.banner .container-Sorteio{
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: #157da57a;
  border-radius: 30px;
  margin-bottom: 2%;
  width: 550px;
  height: 586px;
  margin-top: -41px;
  
}
 .container .titulo, h2{
   color: #ffff;
   font-weight: 500;
   font-family: 'Poppins', sans-serif;
   display: flex;
   justify-content: center;
  }
  
  .container p{
    color: #ffff;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .container .caixa{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container a{
    text-decoration: none;
    color: #ffff;
  }

  .caixa{
    display: flex;
    flex-direction: column;
  }

  .caixa img{
    display: flex;
    border-radius: 10px;
    margin-top:10px ;
   
  }

  .caixa div{
    display: flex;
    flex-direction: column;
    color: #ffff;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family:'Poppins', sans-serif;    
  }

  .caixa button{
    background-color: #f47b2a;
    color: #ffff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
  }


  .footer {
    height: 30px;
    padding: 30px 0px;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
  
  }
  
  .footer ul{
      display: flex;
      justify-content: space-between;
      width: 40%;
      font-family: 'Poppins', sans-serif;
  }
  
  li{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  p{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
  }
