
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body::-webkit-scrollbar{
  width: 1vh;}
  
body::-webkit-scrollbar-track{
  background-color: #ffff;
}

body::-webkit-scrollbar-thumb{
  background-color: #79d3f6d9;
  border-radius: 6vh;
}

body{
    margin: 0;
    padding: 0;
    height: 100px;
}

.header{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
  }
  
  .header .container {
      position: relative;
      z-index: 1;
      width: 100%;
      padding: 10px 10px;
      display: flex;
      justify-content: space-between;
      
  }
  
  .container .logo img {
    width: 90px;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
  }
  
   .container .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 3%;
    border-radius: 5px;
  }
  
  .navbar a{
  text-decoration: none;
  color: #ffff;
  }
  
  
  .navbar ul {
    display: flex;
    width: 700px;
    justify-content: space-evenly;
    list-style: none;
    color: #ffff;
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar ul li {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
  }
  
  li :hover {
    color: #f47b2a;
  }
  
  .banner {
    display: flex;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
}

.banner video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.banner .container{
    z-index: 1;
    margin-bottom: 9%;
    display: flex;
}

.caixas{
    color:#ffff;
    background-color: #79d3f67a;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.container button{
  display: flex;
  background-color: #f47b2a;
  color: #ffff;
  border-radius: 10px;
  border: none;
  height: 30px;
  margin-top: 550px;
  margin-left: 30px;
}


.caixa1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 900px;
  margin-top: 35px;
}

.caixa2{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 900px;
}

.caixa h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.caixa img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  border-radius: 6px;
}

.resposta select{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #f47b2ae7;
  color: #ffff;
  border: none;
  font-family: 'Poppins', sans-serif;
  padding: 8px;
  font-size: 15px;
}

.resposta, #sel_Q1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}

.resposta div{
    display: flex;
    flex-direction: column;
    color: #ffff;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-family:'Poppins', sans-serif;
    text-align: center;
}

.banner .explicar{
  display: flex ;
  z-index: 4;
  position: relative;
  background-color: #79d3f663;
  border-radius: 10px;
  justify-content: flex-end;
  align-items: flex-start;
  
}

.explicar div{
  color: #ffff;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 200px;
}

.footer {
    height: 20px;
    padding: 30px 0px;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
  
  }
  
  .footer ul{
      display: flex;
      justify-content: space-between;
      width: 40%;
  }
  
  li{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  
  }
  
  p{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 18px;
  }
